body {
	font-family: 'Times New Roman', Times, serif;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

#adminPage select {
	width: 100%;
}

#topSearchBar {
	width: 300px !important;
}

#profileDropdown {
	z-index: 2000;
}

.dropdown-menu {
	width: fit-content;
}

#greenNav li ul {
	width: 100vw !important;
	max-width: none !important;
}

#greenNav {
	background: #00ab8e;
	color: #fff;
}

#greenNav {
	background: #00ab8e;
	color: #fff;
}

#greenNav .nav {
	margin-bottom: 0;
}
#greenNav .dropdown {
	position: static;
}
#greenNav .dropdown-menu {
	width: 100%;
}
#greenNav .dropdown-menu > li {
	display: inline-block;
}

/* #greenNav .dropdown:hover .dropdown-menu {
	width: 100%;
	display: block;
} */

.green {
	color: #05816d;
}

a,
a:visited {
	color: #00ab8e;
}

.black a {
	color: #4f4f4f;
}

a:hover,
a:active {
	color: #05816d;
}

.dropdown-menu a,
#categories a {
	color: black;
	text-decoration: none;
}

.dropdown-menu a:visited {
	color: black;
	text-decoration: none;
}

.dropdown-menu a:active {
	color: black;
	text-decoration: none;
}

.dropdown-menu a:hover {
	text-decoration: none;
	color: gray;
}

.nav-tabs .nav-item .nav-link {
	color: gray;
}

.nav-tabs .nav-item .nav-link.active {
	color: black;
}

.modal {
	padding-right: 5px !important;
	position: absolute;
	top: 110px;
	right: 100px;
	bottom: 0;
	left: 0;
	z-index: 10040;
	overflow: auto;
	overflow-y: auto;
}

.btn-green {
	color: #fff;
	background-color: #00ab8e;
	border-color: #00ab8e;
}

.btn-green:hover {
	color: #fff;
	background-color: #05816d;
	border-color: #05816d;
}

#accountTab label {
	position: absolute;
	margin-top: 5px;
	margin-left: 8px;
}

.table-invisible td {
	padding: 0;
	border: none;
}

.table-invisible td:first-child {
	width: auto;
	text-align: right;
	white-space: nowrap;
}
.table-invisible td:nth-child(2) {
	width: 100%;
	padding-left: 1em;
}
.modal {
	height: 70vh;
	overflow-y: scroll;
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 10;
	margin: auto;
}
