include fora.pug
include navs.pug
h1.display-3.mt-4.text-center WELCOME TO FORA THRIFT
h3.text-center.text-secondary Mission Statement
p.text-center.text-muted Fora Thrift strips away the stigma of buying second-hand clothing, creating a community-wide shift towards sustainable
	| apparel consumption.
figure
	blockquote.blockquote.text-center
		p Fashion shouldn't cost the earth
	figcaption.blockquote-footer.text-center
		cite(title='Source Title') Environmental Audit Committee

figure
	blockquote.blockquote.text-center
		p Good design is sustainable design
	figcaption.blockquote-footer.text-center
		| IMRAD AMED

figure
	blockquote.blockquote.text-center
		p Revamp your wardrobe and style for an affordable price and give these clothes a new chance to shine
	figcaption.blockquote-footer.text-center
		| FOUNDER
.container
	.row.mb-10
		.col-3
			.card(style='width: 18rem; height:30rem')
				img.card-img-top(src='https://i.pinimg.com/564x/21/db/a0/21dba070a9d7226ee99dc8f4407d64c9.jpg' alt='...')
				.card-body
					p.card-text
						| Executive President: James Wang
		.col-3
			.card(style='width: 18rem; height:30rem')
				img.card-img-top(src='https://i.pinimg.com/564x/91/4d/a9/914da9136705e4ba3785b6a73fe0c11e.jpg' alt='...')
				.card-body
					p.card-text
						| Executive Vice President: Mandy Tsai
		.col-3
			.card(style='width: 18rem; height:30rem')
				img.card-img-top(src='https://i.pinimg.com/564x/77/44/8c/77448c60eb27fe319250d34764d8fac8.jpg' alt='...')
				.card-body
					p.card-text
						| Executive Head of Communications
		.col-3
			.card(style='width: 18rem; height:30rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b5/c6/00/b5c600f70a01461411e6ff2c97f08bb2.jpg' alt='...')
				.card-body
					p.card-text
						| Executive idk.

