<h1>WELCOME TO FORA THRIFT</h1>
<h2>Mission Statement</h2>
<p class="lead">
	Fora Thrift strips away the stigma of buying second-hand clothing, creating a community-wide shift towards sustainable
	apparel consumption.
</p>
<figure>
	<blockquote class="blockquote">
		<p>FASHION SHOULDN'T COST THE EARTH.</p>
	</blockquote>
	<figcaption class="blockquote-footer">
		<cite title="Source Title">Environmental Audit Committee</cite>
	</figcaption>
</figure>

<table>
	<tr>
		<td>${item.name}</td>
		<td>💚</td>
	</tr>
	<tr>
		<td>$${item.price}</td>
	</tr>
</table>
$('#item_descriptor #item_image').text('item.img'); .text-center#item_image
