include fora.pug
h1.mt-4.text-center WELCOME TO FORA THRIFT
h3.text-center.text-secondary Mission Statement
p.text-center.text-muted Fora Thrift strips away the stigma of buying second-hand clothing, creating a community-wide shift towards sustainable
	| apparel consumption.