include fora.pug
include navs.pug
h1.display-3.mt-4.mb-4.text-center WELCOME TO FORA THRIFT
h2.text-center.text-secondary Mission Statement
p.text-center.text-muted Fora Thrift strips away the stigma of buying second-hand clothing, creating a community-wide shift towards sustainable
	| apparel consumption.
figure
	blockquote.blockquote.text-center
		p Fashion shouldn't cost the earth
	figcaption.blockquote-footer.text-center
		cite(title='Source Title') Environmental Audit Committee

figure
	blockquote.blockquote.text-center
		p Good design is sustainable design
	figcaption.blockquote-footer.text-center
		| IMRAD AMED

figure.mb-5
	blockquote.blockquote.text-center
		p Revamp your wardrobe and style for an affordable price and give these clothes a new chance to shine
	figcaption.blockquote-footer.text-center
		| FOUNDER

h2.text-center.text-secondary Fora Thrift Location
figure.mb-5
	figcaption.text-center.mb-4
		cite(title='') 1600 Lingbai Road, Pudong District, Shanghai, China 201201
		<br> 上海市浦东新区 凌白公路1600号 201201
	.container
		row
			col-md-4
				img.rounded(style='width: 20rem; height:20rem')(src='https://i.pinimg.com/564x/7c/12/9d/7c129d2f0db65685b4611416fbb37524.jpg')
			col-md-4
				img.rounded(style='width: 20rem; height:20rem')(src='https://i.pinimg.com/564x/7c/12/9d/7c129d2f0db65685b4611416fbb37524.jpg')
			col-md-4
				img.rounded(style='width: 20rem; height:20rem')(src='https://i.pinimg.com/564x/7c/12/9d/7c129d2f0db65685b4611416fbb37524.jpg')

h1.display-3.mt-4.mb-4.text-center MEET OUR TEAM
figure.mb-5
	figcaption.blockquote-footer.text-center.mb-4
		cite(title='') Add us on wechat or send us an email if you have any questions. We are more than willing to help address any customer unsatisfaction.

.container
	.row.mb-4
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b0/11/d5/b011d5f8ddb03b8dd59873cdef8fb4db.jpg' alt='...')
				.card-body
					p.card-text
						| Founder
						<br> James Wang
						<br> Wechat ID: wr1sts
						<br> james01pd2022@saschina.org
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/91/4d/a9/914da9136705e4ba3785b6a73fe0c11e.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Management
						<br> Mandy Tsai
						<br> Wechat ID: mandytsai031122
						<br> mandy01pd2022@saschina.org
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b1/f8/72/b1f8725e42414e93f0fba6bd9ce351b5.jpg' alt='...')
				.card-body
					p.card-text
						|	Technical Support
						<br> Valencia Hartono
						<br> Wechat ID: Val227
						<br> valencia01pd2022@saschina.org

	.row.mb-10
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b5/c6/00/b5c600f70a01461411e6ff2c97f08bb2.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Public Relation
						<br> Gelina Liu
						<br> Wechat ID: ge7ina
						<br> gelina01pd2023@saschina.org
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b5/c6/00/b5c600f70a01461411e6ff2c97f08bb2.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Operations
						<br> Jasmine Picard
						<br> Wechat ID: jj_picard
						<br> jasmine01pd2023@saschina.org
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b5/c6/00/b5c600f70a01461411e6ff2c97f08bb2.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Finance
						<br> Daisy Dai
						<br> Wechat ID: daizeddxx
						<br> chenxu01pd2023@saschina.org

