include fora.pug
include navs.pug
h1.mt-4.text-center Queue/Shipping Info
h3.text-center.text-secondary Queueing/Lining Up for Items
p.text-center.text-muted Fora Thrift strips away the stigma of buying second-hand clothing, creating a community-wide shift towards sustainable
	| apparel consumption.
figure
	blockquote.blockquote.text-center
		p FASHION SHOULDN'T COST THE EARTH
	figcaption.blockquote-footer.text-center
		cite(title='Source Title') Environmental Audit Committee

h3.text-center.text-secondary Shipment Details
