include fora.pug
include navs.pug
h1.display-3.mt-5.mb-4.text-center Queue/Shipping Info
figure.mt-3.mb-5.text-muted.
	figcaption
		cite(title='') 
			ol 
				li To minimize conflicting demand, customers are able to queue for items 
				li Items will appear in user account's reserved tab 
				li Every three days, queue will rotate if item is not purchased
h2.text-center.text-secondary Queueing for Items
figure.mt-3.mb-5.text-center.text-muted
	figcaption
		cite(title='') Fora Thrift strips away the stigma of buying second-hand clothing, creating a community-wide shift towards sustainable
		| apparel consumption.
h2.text-center.text-secondary Queueing for Items
p.mt-3.mb-5.text-center.text-muted To minimize conflicting demand, customers are able to line up for items which should appear in the account reserved page. If item is not purchased within 

h2.text-center.text-secondary Shipment Details

