include fora
script(src='../../js/admin.js')
nav#blackNav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-2
	.container-fluid
			a.navbar-brand.active.fs-1(href='/store/clothing') FORA THRIFT
			button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent')
				span.navbar-toggler-icon
#adminPage.container-fluid
	h1.display-3.mt-5.mb-4.text-center WELCOME ADMIN
	h3.text-center.text-secondary: a(href="/admin/inventory") MANAGE INVENTORY
	h3.text-center.text-secondary: a(href="/admin/orderRequests") ORDER REQUESTS
	