nav#blackNav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-2
	.container-fluid
		a.navbar-brand.active.fs-1(href='/store/clothing') FORA THRIFT
		button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			//- ul.navbar-nav.me-auto.mb-2.mb-lg-0.fs-5
			//- 	li.nav-item: a.nav-link(href='#') WOMENS
			//- 	li.nav-item: a.nav-link(href='#') MENS
			ul.me-auto
			ul.navbar-nav.me-0
				//- form.mx-2.my-auto.d-flex
				//- 	#topSearchBar.input-group
				//- 		input.form-control(type='text' placeholder='Search for items or brands')
				//- 		span.input-group-append
				//- 			button.btn.btn-outline-secondary(type='button') 🔍
				li#profileDropdown.nav-item.dropdown
					a.nav-link.dropdown.fs-5(href='#' role='button' data-bs-toggle='dropdown')= (user) ? 'Welcome ' + user.name : 'Get Started'
					ul.dropdown-menu.dropdown-menu-end
						if user
							li: a.dropdown-item(data-bs-toggle='modal' href='#loginRegisterModal') ↩️ LOGOUT
							li: a.dropdown-item(href='/account/profile') 👤 MY ACCOUNT
						else
							li: a.dropdown-item(data-bs-toggle='modal' href='#loginRegisterModal') REGISTER/SIGN IN
						li: a.dropdown-item(href='/additionalInfo') ❓ ADDITIONAL INFO
						li: a.dropdown-item(href='/contactUs') 👩‍💻 CONTACT US
include loginRegister.pug
