nav#blackNav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-2
	.container-fluid
		a.navbar-brand.active.fs-2(href='/store/clothing') FORA THRIFT
		button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			ul.me-auto
			ul.navbar-nav.me-0
				li#profileDropdown.nav-item.dropdown
					a.nav-link.dropdown.fs-4(role='button' data-bs-toggle='dropdown')= (user) ? 'Welcome ' + user.name : 'Get Started'
					ul.dropdown-menu.dropdown-menu-end
						if user
							li: a.dropdown-item(data-bs-toggle='modal' href='#loginRegisterModal') ↩️ Logout
							li: a.dropdown-item(href='/account/profile') 🦋 My Account
						else
							li: a.dropdown-item(data-bs-toggle='modal' href='#loginRegisterModal') Register/Sign in
						li: a.dropdown-item(href='/additionalInfo') ❓ Additional Info
						li: a.dropdown-item(href='/contactUs') 👩‍💻 Contact Us
include loginRegister.pug
