include fora.pug
include navs.pug
h1.display-3.mt-4.text-center HELLO
p.text-center.text-muted What can we help you with?
figure
	blockquote.blockquote.text-center
		p MEET OUR TEAM
	figcaption.blockquote-footer.text-center
		cite(title='') Our team is happy to answer your questions. 

.container
	.row.mb-10
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b0/11/d5/b011d5f8ddb03b8dd59873cdef8fb4db.jpg' alt='...')
				.card-body
					p.card-text
						| Founder
						<br> James Wang
						<br> Wechat ID: wr1sts
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/91/4d/a9/914da9136705e4ba3785b6a73fe0c11e.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Management
						<br> Mandy Tsai
						<br> Wechat ID: mandytsai031122
		.col-4
			.card(style='width: 18rem; height:38rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b1/f8/72/b1f8725e42414e93f0fba6bd9ce351b5.jpg' alt='...')
				.card-body
					p.card-text
						|	Technical Support
						<br> Valencia Hartono
						<br> Wechat ID: Val227
	.row.mb-10
		.col-4
			.card(style='width: 18rem; height:5Orem')
				img.card-img-top(src='https://i.pinimg.com/564x/77/44/8c/77448c60eb27fe319250d34764d8fac8.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Public Relation
						<br> Gelina Liu
						<br> Wechat ID: ge7ina
		.col-4
			.card(style='width: 18rem; height:30rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b5/c6/00/b5c600f70a01461411e6ff2c97f08bb2.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Operations
						<br> Jasmine Picard
						<br> Wechat ID: jj_picard
		.col-4
			.card(style='width: 18rem; height:30rem')
				img.card-img-top(src='https://i.pinimg.com/564x/b5/c6/00/b5c600f70a01461411e6ff2c97f08bb2.jpg' alt='...')
				.card-body
					p.card-text
						| Head of Finance
						<br> Daisy Dai
						<br> Wechat ID: daizeddxx