include fora.pug
include blackNav
.mb-2
h1.display-3.mt-5.mb-4.text-center HELLO
p.text-center.text-muted What can we help you with?
figure
	figcaption.blockquote-footer.text-center
		cite(title='') Add us on wechat or send us an email if you have any questions. We are more than willing to help address any problems.
.container-sm
	// name form
	.mb-3
		label.form-label(for='name') Name
		input.form-control(type='text' name='name' placeholder='optional')
	// email form
	.mb-3
		label.form-label(for='email') *Email
		input.form-control(type='email' name='email' required placeholder='required')
	// subject form
	.mb-3
		label.form-label(for='subject') Subject
		input.form-control(type='password' name='subject')
	// img form
	.mb-3.form-group
		label.form-label(for='img') Image
		p.text-muted (Upload pictures if necessary for us to better address issues, such as product dissatisfaction or technical issues)
			.form-group: .input-group
				input#img.form-control(type='file' name='img')
				label.input-group-text(for='imgFile') Upload
	// message form
	.mb-3.form-group
		label.form-label(for='message') Message
		textarea#description.form-control(rows='4' name='message' placeholder="Input Message")
	//submission button-> links to 
	.text-center.mt-3.mb-3
		button.btn.btn-dark(type="button" onclick='') Send Message