//- h1.mt-4.text-center Contact Us
//- h3.text-center.text-secondary The Team
//- p.text-center.text-muted Fora Thrift strips away the stigma of buying second-hand clothing, creating a community-wide shift towards sustainable
//- 	| apparel consumption.
//- figure
//- 	blockquote.blockquote.text-center
//- 		p FASHION SHOULDN'T COST THE EARTH
//- 	figcaption.blockquote-footer.text-center
//- 		cite(title='Source Title') Environmental Audit Committee

//- figure
//- 	blockquote.blockquote.text-center
//- 		p Good design is sustainable design
//- 	figcaption.blockquote-footer.text-center
//- 		| IMRAD AMED

//- figure
//- 	blockquote.blockquote.text-center
//- 		p Revamp your wardrobe and style for an affordable price and give these clothes a new chance to shine
//- 	figcaption.blockquote-footer.text-center
//- 		| JAMES WANG
