#itemModal.modal: .modal-dialog.modal-lg: .modal-content(tabindex='-1')
	.modal-header.pt-2.pb-0
		// sign in and I'm new here tabs
		h4#item_name
		h5#item_id
	//modal receives information from store.pug
	.modal-body.pt-1
		table.table
			thead
				tr
					th.text-center(scope='col') Rating ⚜️
					th.text-center(scope='col') Type 🧷
					th.text-center(scope='col') User Profile 🔒
			tbody
				tr
					td.col-4
						row#item_qualityRating
						br
						row#item_styleRating
						br
						row#item_valueRating
					td.col-4
						row#item_brand
						br
						row#item_color
						br
						row#item_size
						br
						row#item_price
					td.col-4
						p Number of people who has this item in cart: 
							span#numReserve
						form#queueFavoriteForm
							//if checkbox is clicked, user reserved[] adds itemID; item's queue array adds userID
							input#item_reserved.form-check-input(type='checkbox' value='' name='flexCheckDefault')
							label.form-check-label(for='item_reserved')  Add to Cart 🛒
							
							//if checkbox is clicked, user favorites[] adds itemID
							br
							input#item_favorite.form-check-input(type='checkbox' value='' name='flexCheckDefault')
							label.form-check-label(for='item_favorite')  Favorite ♥️
		row Item description: 
			#item_description

script(src='/js/itemModal.js')
