#login_registerModal.modal: .modal-dialog: .modal-content(tabindex='-1'): .modal-lg
	.modal-header.pt-2.pb-0
		// sign in and I'm new here tabs
		h3 Welcome to FORA
		button.btn-close.mb-1(type='button' data-bs-dismiss='modal')
	.modal-header.pt-2.pb-0
		ul#myTab.nav.nav-tabs(role='tablist')
			li.nav-item(role='presentation')
				button#login-tab.nav-link.fs-6.active(data-bs-toggle='tab' data-bs-target='#login' type='button' role='tab') LOG IN
			li.nav-item(role='presentation')
				button#register-tab.nav-link.fs-6(data-bs-toggle='tab' data-bs-target='#register' type='button' role='tab') I'M NEW HERE
	.modal-body
		// sign in and I'm new here tab contents; mx-4=side margins (x-value)
		#myTabContent.tab-content.mx-4
			#login.tab-pane.fade.show.active(role='tabpanel')
				.mb-3
					label.form-label(for='email') *Email address
					input.form-control(type='email' name='email' required)
				.mb-3
					label.form-label(for='psw') *FORA password
					input.form-control(type='password' name='psw' required)
				.form-check
					input#flexCheckDefault.form-check-input(type='checkbox' value='')
					label.form-check-label(for='flexCheckDefault')
						| Keep me signed in.
				.row.mb-3
					.col: a Forgot your password?
				.row
					button.btn.btn-dark.pl-2(type='submit') LOG IN
			#register.tab-pane.fade(role='tabpanel')
				.mb-3
					label.form-label(for='username') Username
					input.form-control(type='text' name='username' required)
				.mb-3
					label.form-label(for='email') Email address
					input.form-control(type='email' name='email' required)
				.mb-3
					label.form-label(for='psw') Create FORA password
					input.form-control(type='password' name='psw' required)
				.mb-3
					label.form-label(for='psw') Confirm password
					input.form-control(type='password' name='psw' required)
				.row
					button.btn.btn-dark.pl-2(type='submit') CREATE AN ACCOUNT
