nav#blackNav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-2
	.container-fluid
		a.navbar-brand.active.fs-1(href='/store/clothing') FORA THRIFT
		button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			//- ul.navbar-nav.me-auto.mb-2.mb-lg-0.fs-5
			//- 	li.nav-item: a.nav-link(href='#') WOMENS
			//- 	li.nav-item: a.nav-link(href='#') MENS
			ul.me-auto
			ul.navbar-nav.me-0
				form.mx-2.my-auto.d-flex
					#topSearchBar.input-group
						input.form-control(type='text' placeholder='Search for items or brands')
						span.input-group-append
							button.btn.btn-outline-secondary(type='button') 🔍
				li#profileDropdown.nav-item.dropdown
					a.nav-link.dropdown.fs-5(href='#' role='button' data-bs-toggle='dropdown')= (user) ? 'Welcome ' + user.name : 'Get Started'
					ul.dropdown-menu.dropdown-menu-end
						if user
							li: a.dropdown-item(data-bs-toggle='modal' href='#loginRegisterModal') ↩️ Logout
							li: a.dropdown-item(href='account') 👤 My Account
							li: a.dropdown-item(href='searchFilter') 🏖 Admin Lounge
						else
							li: a.dropdown-item(data-bs-toggle='modal' href='#loginRegisterModal') Register/Sign In
						li: a.dropdown-item(href='additionalInfo') ❓ Shipping info
						li: a.dropdown-item(href='contactUs') 👩‍💻 Contact Us
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.sticky-top.p-0
	// One of the primary actions on mobile is to call a business - This displays a phone button on mobile only
	.navbar-toggler-right
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar')
			span.navbar-toggler-icon
	#greenNav.collapse.navbar-collapse.row
		ul.col-6.navbar-nav.pe-0.p-1
			each name, i in fora.categories.names
				li.flex-sm-fill.text-sm-center.nav-item.dropdown
					a.nav-link(role='button' data-bs-toggle='dropdown')= fora.categories.navNames[i]
					ul.dropdown-menu.container.p-2(id=`${name}Menu`): .row.mb-4
							.col-8.px-4
								.row
									a.col-12.fs-4.green(href='#' onclick='fetchItems(' + (i+1) +')')= 'Shop ' + name[0].toUpperCase() + name.slice(1)
									.col  _____________ 
									.col  _____________ 
									.col  _____________ 
							.col-4.images
		.col-4.navbar-nav
		ul.col-2.navbar-nav.pe-0
			// about us list
			li.flex-sm-fill.text-sm-center
				a.nav-link(role='button' href='about') ABOUT US
.mb-2
include loginRegister.pug
