h4 Profile Info
.row
	.col-6
		.row
			.col
				div Avatar 
					span#rank 🥇Gold
				#avatar.fs-1 🧞‍♀️
			.col
				p.my-0 Total points: 
					span#points-total 0
				p.my-0 Points for exchange: 
					span#points-exchangable 0
				a.my-0(href="#") How to earn points?
		// name form
		.mb-3
			label.form-label(for='displayName') Name
			input.form-control(type='text' name='displayName')
		// need to edit birthday form
		.mb-3
			label.form-label(for='birthday') Birthday
			input.form-control(type='date' name='birthday')
		// gender form
		.mb-0
			label.form-label(for='birthday') Gender
		.form-check.form-check-inline
			input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
			label.form-check-label(for='flexRadioDefault1')  female 
		.form-check.form-check-inline
			input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault' checked='')
			label.form-check-label(for='flexRadioDefault2')  male 
		.form-check.form-check-inline
			input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault' checked='')
			label.form-check-label(for='flexRadioDefault2')  nonbinary 
		// phone form
		.mt-3.mb-3
			label.form-label(for='phone') Phone
			input.form-control(type='tel' name='phone')
		// address form
		.mb-3
			label.form-label(for='address') Address
			input.form-control(type='address' name='address' required='')
		// email form
		.mb-3
			label.form-label(for='email') *Email
			input.form-control(type='email' name='email' required='')
		// password form
		.mb-3
			label.form-label(for='psw') *Fora Password
			input.form-control(type='password' name='psw' required='')
		.row.mt-4.mb-5
			button.btn.btn-dark(type='submit') Confirm Changes
