include fora
include navs.pug
.container-fluid: .row
	.col-4.col-md-3
		include searchFilter
	.col-8.col-md-9: #items.row.me-2.me-md-4
script(src='/store.js')
include itemModal
script.
	fora.scripts.push(async () => {
		fetchItems(#{store.category}, #{store.type}, #{store.subtype});
	});
