.container-fluid.mb-5
	h4 My Cart
	p View items you’ve added to your cart. 
		span 
			a(data-bs-toggle='modal' href='#pointsSystem') How to add items to cart?

	p.my-0 Total points: 
		span.pointsTotal= user.totalPoints || '0'
	p.my-0 Points for exchange: 
		span.pointsExchangable= user.pointsForExchange || '0'
	a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?

.container-fluid
	h4 Total Billing
	p.my-0 Total number of items in cart: 
		span#numOrder= user.reserved.length || '0'
	p.my-0 Subtotal: 
		//traverse through user.reserved to get ID, and use ID to get item price, and add them up
		span#preCouponSubtotal
	p.my-0 Order Ban Time: 
		//traverse through user.reserved to get ID, and use ID to get item price, and add them up
		span#banTime 
		span hr
	p
		button#requestOrderButton.btn.btn-green Request Order

#orderStatusAlert.mt-3

if user.reserved.length == 0
	p.text-center: a(href="store") You haven’t added any items yet (view shop)
else
	.container-fluid: #reservedItems.row

#confirmOrderModal.modal.fade(tabindex='-1')
	.modal-dialog
		.modal-content
			.modal-header
				h5.modal-title Confirm Order Request
			.modal-body
				label.form-group.col-10.form-label(for='discount') Please indicate which coupon you'd like to use
					select#discountSelector.form-select.form-select-md.mb-3(name='discount')
				div.mb-3
					p.my-0 Items in cart: 
						span#numOrder= user.reserved.length || '0'
					p.my-0 Item Subtotal:
						span#itemSubtotal
					p.my-0 Shipping and Handling Cost:
						span#shippingCost
					p.my-0 Estimated Sales Tax:
						span#salesTax
				div.mb-3
					p.my-0 Total Billing: 
						span#totalBilling
					p.my-0 Total rewarded pts: 
						span#rewardPoints
				| Are you sure you want to order these items? If payment via wechat is not received within 24hrs of request, request will be denied and user must wait 2 days to reorder.
			.modal-footer
				//- button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
				button#confirmOrder.btn.btn-green(type='button'  data-bs-dismiss='modal') Confirm

