h4 My Offers/Discount Coupons
p Points may be redeemed for discount coupons, they will be automatically deducted from your points for exchange but 
	| remain in total points as an indicator of your journey with us.
p.my-0 Total points: 
	span.pointsTotal= user.totalPoints || '0'
p.my-0 Points for exchange: 
	span.pointsExchangable= user.pointsForExchange || '0'
a(data-bs-toggle='modal' href='#points_system') How to earn points?
#couponStatus.mt-3
//this part can be generalized into a function where x=pts, y=% discount, z=index of coupon array

//function coupon setter (pts, discount, index)
//function coupon setter (x, y, z){
//button#redeem"x".btn.btn-green Redeem "y"% discount (-"x"pts)
//|	Number of "y"% coupons you have: 
//span#couponAmount"x"= user.coupons[z] || '0'
//}
#discountButtons.mt-4
//- p old version
//- p
//- 	button#redeem240.btn.btn-green Redeem 10% discount (-240pts)
//- 	|	Number of 10% coupons you have: 
//- 	span#couponAmount240= user.coupons[0] || '0'
//- p 
//- 	button#redeem480.btn.btn-green Redeem 25% discount (-480pts)
//- 	|	Number of 25% coupons you have: 
//- 	span#couponAmount480= user.coupons[1] || '0'
//- p 
//- 	button#redeem720.btn.btn-green Redeem 40% discount (-720pts)
//- 	|	Number of 40% coupons you have: 
//- 	span#couponAmount720= user.coupons[2] || '0'
//- p 
//- 	button#redeem960.btn.btn-green Redeem 55% discount (-960pts)
//- 	|	Number of 55% coupons you have: 
//- 	span#couponAmount960= user.coupons[3] || '0'
//- p 
//- 	button#redeem1200.btn.btn-green Redeem 70% discount (-1200pts)
//- 	|	Number of 70% coupons you have: 
//- 	span#couponAmount1200= user.coupons[4]  || '0'
#confirmRedeemModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Confirm Redeem Points
			.modal-body
				| Are you sure you want to redeem these points?
			.modal-footer
				//- button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
				button#confirmRedeem.btn.btn-green(type='button'  data-bs-dismiss='modal') Confirm
