h4 My Offers/Discount Coupons
p Points may be redeemed for discount coupons, they will be automatically deducted from your points for exchange but 
	| remain in total points as an indicator of your journey with us.
p.my-0 Total points: 
	span#points-total 0
p.my-0 Points for exchange: 
	span#points-exchangable 0
a(href="#") How to earn points?
p.mt-4
	button.btn#redeem10 Redeem 10% discount (-240pts)
p 
	button.btn#redeem25 Redeem 25% discount (-480pts)
p 
	button.btn#redeem40 Redeem 40% discount (-720pts)
p 
	button.btn#redeem55 Redeem 55% discount (-960pts)
p 
	button.btn#redeem70 Redeem 70% discount (-1200pts)