h4 My Offers/Discount Coupons
p Points may be redeemed for discount coupons, they will be automatically deducted from your points for exchange but 
	| remain in total points as an indicator of your journey with us.
p.my-0 Total points: 
	span#points-total= user.totalPoints || '0'
p.my-0 Points for exchange: 
	span#points-exchangable= user.pointsForExchange || '0'
a(href="#") How to earn points?
p.mt-4
	button.btn.btn-green#redeem10 Redeem 10% discount (-240pts)
	|	Number of 10% coupons you have: 
	span#discount10 0
p 
	button.btn.btn-green#redeem25 Redeem 25% discount (-480pts)
	|	Number of 25% coupons you have: 
	span#discount25 0
p 
	button.btn.btn-green#redeem40 Redeem 40% discount (-720pts)
	|	Number of 40% coupons you have: 
	span#discount40 0
p 
	button.btn.btn-green#redeem55 Redeem 55% discount (-960pts)
	|	Number of 55% coupons you have: 
	span#discount55 0
p 
	button.btn.btn-green#redeem70 Redeem 70% discount (-1200pts)
	|	Number of 70% coupons you have: 
	span#discount70 0