h4 My Donations
p Check the status of donation or browse through your past donations.
p.text-center: a(href="#") View donation criteria for how points are rewarded

p.my-0 Total points: 
	span#points-total= user.totalPoints || '0'
p.my-0 Points for exchange: 
	span#points-exchangable= user.pointsForExchange || '0'
a(href="#") How to earn points?