h4 My Favorites
p View items you’ve added to your favorites list. 
	span
		a(data-bs-toggle='modal' href='#pointsSystem') How to favorite items?


p.my-0 Total points: 
	span.pointsTotal= user.totalPoints || '0'
p.my-0 Points for exchange: 
	span.pointsExchangable= user.pointsForExchange || '0'
a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?

if user.favorites.length == 0
	p.text-center: a(href="store") You haven’t added any items yet (view shop)
else
	.container-fluid: #favoritesItems.row
