h4 My Favorites
p View products you’ve added to your favorites list. Favorite an item by clicking on the heart icon until it turns white. 
p.text-center: a(href="#") You haven’t liked any items yet (direct to shop)