.container-fluid
	h4 My Orders
	p Browse through your order history. Each purchased item will be rewarded points.
	
	p.my-0 Total points: 
		span.pointsTotal= user.totalPoints || '0'
	p.my-0 Points for exchange: 
		span.pointsExchangable= user.pointsForExchange || '0'
	a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?

if user.orders.length == 0
	p.text-center: a(href="store") You haven’t ordered anything yet (view shop)
else
	.container-fluid
		each order, i in user.orders
			.row: .card
				h4.card-header= (d = new Date(order.time))? d.toDateString() + " " + d.getHours() + ":" + d.getMinutes() : " "
					p= ((order.confirmed)?'Confirmed':'Pending')
				.card-body
					h5.card-title My Order Details
					.card-text
						p Number of items ordered: 
						p Items subtotal: 
						p Estimated sales tax: 
						p Shipping and handling cost: 
						p Total billing: 
						p Total rewarded pts: 
				div(id="orderedItems" + i).row

	.card
	.card-header Featured
	.card-body
		h5.card-title Special title treatment
		p.card-text With supporting text below as a natural lead-in to additional content.
		a.btn.btn-primary(href='#') Go somewhere


