.container-fluid
	h4 My Orders
	p View items you’ve ordered
	
	p.my-0 Total points: 
		span.pointsTotal= user.totalPoints || '0'
	p.my-0 Points for exchange: 
		span.pointsExchangable= user.pointsForExchange || '0'
	a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?

if user.orders.length == 0
	p.text-center: a(href="store") You haven’t ordered anything yet (view shop)
else
	.container-fluid: #favoritesItems.row