h4 Profile Info
.row
	.col-6
		.row
			.col
				div Rank:
					span#rank
					// ternaries are good if line is  shorter, this one is too long imo
					//span#rank= (user.totalPoints >= 5200) ? '🥇Gold' : ((user.totalPoints >= 2600) ? '🥈Silver': '🥉Bronze')

				div Avatar 
					span#avatar.fs-1
					
			.col
				p.my-0 Total points: 
					span#points-total= user.totalPoints || '0'
				p.my-0 Points for exchange: 
					span#points-exchangable= user.pointsForExchange || '0'
				a.my-0(href="#") How to earn points?
		// name form
		.mb-3
			label.form-label(for='displayName') Name
			input.form-control(type='text' name='displayName' value=(user.name || ''))
		// need to edit birthday form
		.mb-3
			label.form-label(for='birthday') Birthday
			input.form-control(type='date' name='birthday')
		// gender form
		.mb-0
			label.form-label(for='birthday') Gender
		.form-check.form-check-inline
			input#femaleRadio.form-check-input(type='radio' name='flexRadioDefault' checked='')
			label.form-check-label(for='femaleRadio')  female 
		.form-check.form-check-inline
			input#maleRadio.form-check-input(type='radio' name='flexRadioDefault' checked='')
			label.form-check-label(for='maleRadio')  male 
		.form-check.form-check-inline
			input#nonBinaryRadio.form-check-input(type='radio' name='flexRadioDefault' checked='')
			label.form-check-label(for='nonBinaryRadio')  nonbinary 
		// phone form
		.mt-3.mb-3
			label.form-label(for='phone') Phone
			input.form-control(type='tel' name='phone')
		// address form
		.mb-3
			label.form-label(for='address') Address
			input.form-control(type='address' name='address' required='')
		// email form
		.mb-3
			label.form-label(for='email') *Email
			input.form-control(type='email' name='email' required='')
		// password form
		.mb-3
			label.form-label(for='psw') *Fora Password
			input.form-control(type='password' name='psw' required='')
		.row.mt-4.mb-5
			button.btn.btn-dark(type='submit') Confirm Changes
