include account
	h4 Profile Info
	form#profileForm.col-md-7.col-lg-6
		.row
			.col
				div Rank:
					span#rank
					// ternaries are good if line is  shorter, this one is too long imo
					//span#rank= (user.totalPoints >= 5200) ? '🥇Gold' : ((user.totalPoints >= 2600) ? '🥈Silver': '🥉Bronze')
				div
					span.avatar.fs-1
					
			.col
				p.my-0 Total points: 
					span.pointsTotal= user.totalPoints || '0'
				p.my-0 Points for exchange: 
					span.pointsExchangable= user.pointsForExchange || '0'
				a.my-0(data-bs-toggle='modal' href='#pointsSystem') How to earn points?
		// name form
		.mb-3
			label.form-label(for='name') Name
			input.form-control(type='text' name='name' value=(user.name || ''))
		// need to edit birthday form
		.mb-3
			label.form-label(for='birthday') Birthday
			input.form-control(type='date' name='birthday' value=(user.birthday || ''))
		// gender form
		.mb-0
			label.form-label(for='gender') Gender
		.form-check.form-check-inline
			input#femaleRadio.form-check-input(type='radio' name='gender' checked=(user.gender == 'f') value='f')
			label.form-check-label(for='femaleRadio')  female 
		.form-check.form-check-inline
			input#maleRadio.form-check-input(type='radio' name='gender' checked=(user.gender == 'm') value='m')
			label.form-check-label(for='maleRadio')  male 
		.form-check.form-check-inline
			input#nonBinaryRadio.form-check-input(type='radio' name='gender' checked=(user.gender == 'n') value='n')
			label.form-check-label(for='nonBinaryRadio')  nonbinary 
		// phone form
		.mt-3.mb-3
			label.form-label(for='wechatID') *Wechat ID
			input.form-control(type='text' name='wechatID' value=(user.wechatID || ''))
		// phone form
		.mt-3.mb-3
			label.form-label(for='phone') Phone
			input.form-control(type='tel' name='phone' value=(user.phone || ''))
		// address form
		.mb-3
			label.form-label(for='address') Address
			input.form-control(type='text' name='address' required='' value=(user.address || ''))
		// email form
		.mb-3
			label.form-label(for='email') *Email
			input.form-control(type='email' name='email' required='' value=(user.email || ''))
		// password form
		.mb-3
			label.form-label(for='password') *Fora Password
			input.form-control(type='password' name='password' required='' value=(user.password || ''))
		// submission button-> links to account.js
		.row.mt-4.mb-5
			button.btn.btn-dark(type="button" onclick='submitProfileForm()') Confirm Changes

script(src="../js/account/profile.js")
