h4 My Purchases
p Browse through your purchase history. Each purchased item will be rewarded points.

p.my-0 Total points: 
	span.pointsTotal= user.totalPoints || '0'
p.my-0 Points for exchange: 
	span.pointsExchangable= user.pointsForExchange || '0'
a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?

if user.purchases.length == 0
	p.text-center: a(href="store") You haven’t purchased any items yet (view shop)
else
	.container-fluid: #purchaseItems.row
