h4 My Purchases
p Check the status of orders or browse through your past purchases. Every 1rmb spent will be rewarded 2pts.
p.text-center: a(href="store") You haven’t purchased any items yet (direct to shop)