include ../fora.pug
script(src='../../../admin.js')
#adminPage.container-fluid
	h1.mt-4.text-center WELCOME ADMIN
	h3.text-center.text-secondary: a(href="admin") MANAGE CUSTOMERS
	h3.text-center.text-secondary: a(href="inventory") MANAGE INVENTORY
	h3.text-center.text-secondary: a(href="set_coupons") SET COUPON DISCOUNT% AND DEDUCTION VALUE
	h3.text-center.text-secondary: a(href="set_ratings") SET RATINGS VALUE
	