include ../fora.pug
script(src='../../../admin.js')
#adminPage.container-fluid
	h1.mt-4.text-center WELCOME ADMIN
	h3.text-center.text-secondary: a(href="admin") MANAGE CUSTOMERS
	h3.text-center.text-secondary: a(href="inventory") MANAGE INVENTORY
	h3.text-center.text-secondary: a(href="admin") SET COUPONS DISCOUNT%
	h3.text-center.text-secondary: a(href="admin") SET COUPONS DEDUCTION PTS
	h3.text-center.text-secondary: a(href="admin") SET RATINGS REWARD PTS
	