include ../fora.pug
script(src='../../../admin.js')
nav#blackNav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-2
	.container-fluid
			a.navbar-brand.active.fs-1(href='/store') FORA THRIFT
			button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent')
				span.navbar-toggler-icon
#adminPage.container-fluid
	h1.display-3.mt-5.mb-4.text-center WELCOME ADMIN
	h3.text-center.text-secondary: a(href="admin") MANAGE CUSTOMERS
	h3.text-center.text-secondary: a(href="inventory") MANAGE INVENTORY
	h3.text-center.text-secondary: a(href="set_coupons") SET COUPON DISCOUNT% AND DEDUCTION VALUE
	