include ../fora.pug
//- script(src='../../../admin.js')
script(src='../../inventory.js')
nav#blackNav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-2.px-3
	a.navbar-brand.active.fs-1(href='/store') FORA THRIFT


h1.display-3.mt-5.mb-4.text-center Inventory Admin Form
h3.text-center.text-secondary
	a(href='admin') BACK TO ADMIN HOME
p.text-center.text-muted Total number of items in inventory: 
	span#totalItems

#adminInventoryPage.container-lg.mb-5
	form#adminSearchItemForm
		.row: .col: label.form-group.col-2.mb-4.form-label(for='ID') Search Item ID
			input#searchItemID.form-control(type='text' name='ID' placeholder="Item ID")
			//links to inventory.js
			button#search.btn.btn-secondary.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Search Item
	form#adminInventoryForm
		.row
			.col-10: .row
				label.mb-2 ITEM INFO
				// id form
				label.form-label.col-3.mb-2(for='id') Item ID
					input#id.form-control(type='text' name='id' placeholder="Item ID")
				// img form
				label.form-label.col-9.mb-2(for='img') Item Image
					.form-group: .input-group
						input#img.form-control(type='file' name='img')
						label.input-group-text(for='imgFile') Upload
				// name form
				label.form-group.col-5.mb-2.form-label(for='name') Item Name
					input#name.form-control(type='text' name='name' placeholder="Item Name")
				// brand form
				label.form-group.col-4.mb-2.form-label(for='brand') Brand Name
					input#brand.form-control(type='text' name='brand' placeholder="Brand Name")
				// price form
				label.form-group.col-3.mb-2.form-label(for='price') Price
					.input-group
						span.input-group-text RMB
						input#price.form-control(type='number' name='price' placeholder='RMB')
				//dropdown form options automated from addOptions() functions from inventor.js
				// category form
				label.form-group.col-3.mb-2.form-label(for='category') Category
					select#category.form-select.form-select-md.mb-3(name='category')
						//https://getbootstrap.com/2.3.2/components.html for categories tab
				// occasion form
				label.form-group.col-2.form-label(for='occasion') Occasion
					select#occasion.form-select.form-select-md.mb-3(name='occasion')
				// season form
				label.form-group.col-3.form-label(for='season') Season
					select#season.form-select.form-select-md.mb-3(name='season')
				// color form
				label.form-group.col-2.form-label(for='colorName') Color Name
					select#colorName.form-select.form-select-md.mb-3(name='colorName')
				// size form
				label.form-group.col-2.form-label(for='size') Size
					select#size.form-select.form-select-md.mb-3(name='size')
				
				// item description form
				.form-group.col-12.mb-2
					label.form-label(for='description') Item Description
					textarea#description.form-control(rows='3' name='description' placeholder="Item Description")
			.col-2
				// rating form
				label.mb-2 RATING
				.form-group.mb-2
					each rating in [['styleRating', 'Item Style'], ['qualityRating', 'Item Quality'], ['valueRating', 'Item Rating']]
						label(for=rating[0])= rating[1]
						select.ratingSel.form-select(id=rating[0] name=rating[0])
							option(value='0') NA
							option(value='1') 1 ⭐️
							option(value='2') 2 ⭐️⭐️
							option(value='3') 3 ⭐️⭐️⭐️
							option(value='4') 4 ⭐️⭐️⭐️⭐️
							option(value='5') 5 ⭐️⭐️⭐️⭐️⭐️
				// donor form
				.form-group.mb-2
					label.form-label(for='donor') Donor Username
					input#donor.form-control(type='text' name='donor' placeholder="Donor Username")
				.row
					.col
						div Rewarded Points For Donor:
							br
							span#reward
	.row
		.col-3.d-grid.gap-2: button#submit.btn.btn-success.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Add to inventory
		.col-3.d-grid.gap-2: button#submit.btn.btn-warning.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Save Changes
		.col-3.d-grid.gap-2: button#submit.btn.btn-danger.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Delete from inventory
		//reference: https://www.w3schools.com/jsref/met_loc_reload.asp -> reload page to clear form
		.col-3.d-grid.gap-2: button#submit.btn.btn-dark.btn-sm.mt-3(type="button" onclick='location.reload()') Clear form
