include ../fora.pug
//- script(src='../../../admin.js')
script(src='../../inventory.js')
#adminInventoryPage.container-fluid
h3.text-center.text-secondary Inventory Admin Form
p.text-center.text-muted Total number of items in inventory: 
	span#totalItems
#adminInventoryPage.container-fluid
	form#adminInventoryForm
		.row
			.col: form#adminSearchItemForm
				label.form-group.col-2.mb-4.form-label(for='ID') Search Item ID
					input.form-control(type='text' name='ID' placeholder="User ID")
					button#submit.btn.btn-secondary.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Search Item
			//- label.form-group.col-3.mb-4.form-label(for='ID') Users lining Up for this item
			//- 	input.form-control(type='text' name='ID' placeholder="Item ID")
		.row
			.col-9: .row
				label ITEM INFO
				label.form-label.col-3.mb-2(for='ID') Item ID
					input.form-control(type='text' name='ID' placeholder="Item ID")
				label.form-label.col-9.mb-2(for='img') Item Image
					.form-group: .input-group
						input#inputGroupFile02.form-control(type='file' name='img')
						label.input-group-text(for='inputGroupFile02') Upload
				label.form-group.col-4.mb-2.form-label(for='name') Item Name
					input.form-control(type='text' name='name' placeholder="Item Name")
				label.form-group.col-4.mb-2.form-label(for='brand') Brand Name
					input.form-control(type='text' name='brand' placeholder="Brand Name")
				label.form-group.col-4.mb-2.form-label(for='price') Price
					.input-group
						span.input-group-text RMB
						input.form-control(type='number' name='price' placeholder='RMB')
				label.form-group.col-3.mb-2.form-label(for='size') Category
					select.form-select.form-select-md.mb-3(name='category')
						//might want to automate this so it creates an option for all categoriesin inventory.json
						option(value='0') NA
						option(value='1') 👚 Clothing
						option(value='2') 👟 Shoes
						option(value='3') 👜 Bags
						option(value='4') 💍 Accessories
						option(value='4') 🧢 Miscellaneous
				label.form-group.col-2.form-label(for='occasion') Occasion
					select.form-select.form-select-md.mb-3(name='occasion')
						option(value='0') NA
						option(value='1') ⚽️ Sports
						option(value='2') 🥂 Formal
						option(value='3') 🚶 Casual
				label.form-group.col-2.form-label(for='season') Season
					select.form-select.form-select-md.mb-3(name='season')
						option(value='0') NA
						option(value='1') ☘️ Spring
						option(value='2') ☀️ Summer
						option(value='3') 🍂 Fall
						option(value='4') ❄️ Winter
				label.form-group.col-3.form-label(for='colorName') Color Name
					select.form-select.form-select-md.mb-3(name='colorName')
						option(value='0') NA
						option(value='1') Black
						option(value='2') White
						option(value='3') Gold
						option(value='4') Silver
						option(value='5') Brown
						option(value='6') Red
						option(value='7') Orange
						option(value='8') Yellow
						option(value='9') Green
						option(value='10') Turquoise
						option(value='11') Blue
						option(value='12') Purple
						option(value='13') Pink
						option(value='14') Nude
						option(value='15') Taupe
				label.form-group.col-2.form-label(for='size') Size
					select.form-select.form-select-md.mb-3(name='size')
						option(value='0') NA
						option(value='1') XS
						option(value='2') S
						option(value='3') M
						option(value='4') L
						option(value='5') XL
				.form-group.col-12.mb-2
					label.form-label(for='description') Item Description
					textarea.form-control(rows='3' name='description' placeholder="Item Description")
			.col-3
				form#adminChooseRatingForm
				label RATING
				.form-group.mb-2
					label(for='styleRating') Item Style
					select.form-select(name='styleRating')
						option(value='0') NA
						option(value='1') 1 ⭐️
						option(value='2') 2 ⭐️⭐️
						option(value='3') 3 ⭐️⭐️⭐️
						option(value='4') 4 ⭐️⭐️⭐️⭐️
						option(value='5') 5 ⭐️⭐️⭐️⭐️⭐️
				.form-group.mb-2
					label(for='qualityRating') Item Quality
					select.form-select(name='qualityRating')
						option(value='0') NA
						option(value='1') 1 ⭐️
						option(value='2') 2 ⭐️⭐️
						option(value='3') 3 ⭐️⭐️⭐️
						option(value='4') 4 ⭐️⭐️⭐️⭐️
						option(value='5') 5 ⭐️⭐️⭐️⭐️⭐️
				.form-group.mb-2
					label(for='valueRating') Item Value
					select.form-select(name='valueRating')
						option(value='0') NA
						option(value='1') 1 ⭐️
						option(value='2') 2 ⭐️⭐️
						option(value='3') 3 ⭐️⭐️⭐️
						option(value='4') 4 ⭐️⭐️⭐️⭐️
						option(value='5') 5 ⭐️⭐️⭐️⭐️⭐️
				.form-group.mb-2
					label.form-label(for='donor') Donor Username
					input.form-control(type='text' name='donor' placeholder="Donor Username")
				.row
					.col-6
						div Rewarded Points For Donor:
							br
							span#reward pts
					.col-6
						button#calculateRewardedPoints.btn.btn-primary.mt-3(type="button") CALCULATE REWARDED POINTS
		//- .row
		//- 	.form-group.mb-4
		//- 		label.form-label(for='description') Item Description
		//- 		textarea.form-control(rows='3' name='description')
		//- .row
		//- 	label CATEGORIES
		//- 	.col 
		//- 		label(for='occasion') Occasion
		//- 		each occasion, index in ['⚽️ Sports', '🥂 Formal','🚶 Casual']
		//- 			.form-check
		//- 				input.form-check-input(id='occasion' + index type='checkbox' value='occasion' + index)
		//- 				label.form-check-label(for='occasion' + index)= occasion
		//- 	.col 
		//- 		label(for='season') Season
		//- 		each season, index in ['☘️ Spring', '☀️ Summer','🍂 Fall', '❄️ Winter']
		//- 			.form-check
		//- 				input.form-check-input(id='season' + index type='checkbox' value='season' + index)
		//- 				label.form-check-label(for='season' + index)= season
			//- .col 
			//- 	label(for='') COLOR
			//- 	each color, index in ['Black', 'Brown','Gold', 'Gray','White','Red','Orange','Yellow', 'Green','Turquoise', 'Blue', 'Purple', 'Pink']
			//- 		.form-check
			//- 			input.form-check-input(id='color' + index type='checkbox' value='color' + index)
			//- 			label.form-check-label(for='color' + index)= color
	.row
		.col-4.mb-4.d-grid.gap-2: button#submit.btn.btn-success.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Add Item
		.col-4.mb-4.d-grid.gap-2: button#submit.btn.btn-warning.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Save Edit
		.col-4.mb-4.d-grid.gap-2: button#submit.btn.btn-danger.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Delete Item
	
			