include ../fora.pug
//- script(src='../../../admin.js')
script(src='../../inventory.js')
#adminInventoryPage.container-fluid.mt-3
h3.text-center.text-secondary Inventory Admin Form
p.text-center.text-muted Total number of items in inventory: 
	span#totalItems
#adminInventoryPage.container-fluid
	form#adminSearchItemForm
		.row: .col: label.form-group.col-2.mb-4.form-label(for='ID') Search Item ID
			input.form-control(type='text' name='ID' placeholder="User ID")
			button#submit.btn.btn-secondary.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Search Item
	form#adminInventoryForm
		.row
			.col-9: .row
				label ITEM INFO
				label.form-label.col-3.mb-2(for='ID') Item ID
					input.form-control(type='text' name='ID' placeholder="Item ID")
				label.form-label.col-9.mb-2(for='img') Item Image
					.form-group: .input-group
						input#inputGroupFile02.form-control(type='file' name='img')
						label.input-group-text(for='inputGroupFile02') Upload
				label.form-group.col-4.mb-2.form-label(for='name') Item Name
					input.form-control(type='text' name='name' placeholder="Item Name")
				label.form-group.col-4.mb-2.form-label(for='brand') Brand Name
					input.form-control(type='text' name='brand' placeholder="Brand Name")
				label.form-group.col-4.mb-2.form-label(for='price') Price
					.input-group
						span.input-group-text RMB
						input.form-control(type='number' name='price' placeholder='RMB')
				label.form-group.col-3.mb-2.form-label(for='category') Category
					select#category.form-select.form-select-md.mb-3(name='category')
						//might want to automate this so it creates an option for all categoriesin inventory.json
				label.form-group.col-2.form-label(for='occasion') Occasion
					select#occasion.form-select.form-select-md.mb-3(name='occasion')
				label.form-group.col-2.form-label(for='season') Season
					select#season.form-select.form-select-md.mb-3(name='season')
				label.form-group.col-3.form-label(for='colorName') Color Name
					select#colorName.form-select.form-select-md.mb-3(name='colorName')
				label.form-group.col-2.form-label(for='size') Size
					select#size.form-select.form-select-md.mb-3(name='size')
				.form-group.col-12.mb-2
					label.form-label(for='description') Item Description
					textarea.form-control(rows='3' name='description' placeholder="Item Description")
			.col-3
				label RATING
				.form-group.mb-2
					each rating in [['styleRating', 'Item Style'], ['qualityRating', 'Item Quality'], ['valueRating', 'Item Rating']]
						label(for=rating[0])= rating[1]
						select.ratingSel.form-select(name=rating[0])
							option(value='0') NA
							option(value='1') 1 ⭐️
							option(value='2') 2 ⭐️⭐️
							option(value='3') 3 ⭐️⭐️⭐️
							option(value='4') 4 ⭐️⭐️⭐️⭐️
							option(value='5') 5 ⭐️⭐️⭐️⭐️⭐️
				.form-group.mb-2
					label.form-label(for='donor') Donor Username
					input.form-control(type='text' name='donor' placeholder="Donor Username")
				.row
					.col
						div Rewarded Points For Donor:
							br
							span#reward
		//- .row
		//- 	.form-group.mb-4
		//- 		label.form-label(for='description') Item Description
		//- 		textarea.form-control(rows='3' name='description')
		//- .row
		//- 	label CATEGORIES
		//- 	.col 
		//- 		label(for='occasion') Occasion
		//- 		each occasion, index in ['⚽️ Sports', '🥂 Formal','🚶 Casual']
		//- 			.form-check
		//- 				input.form-check-input(id='occasion' + index type='checkbox' value='occasion' + index)
		//- 				label.form-check-label(for='occasion' + index)= occasion
		//- 	.col 
		//- 		label(for='season') Season
		//- 		each season, index in ['☘️ Spring', '☀️ Summer','🍂 Fall', '❄️ Winter']
		//- 			.form-check
		//- 				input.form-check-input(id='season' + index type='checkbox' value='season' + index)
		//- 				label.form-check-label(for='season' + index)= season
			//- .col 
			//- 	label(for='') COLOR
			//- 	each color, index in ['Black', 'Brown','Gold', 'Gray','White','Red','Orange','Yellow', 'Green','Turquoise', 'Blue', 'Purple', 'Pink']
			//- 		.form-check
			//- 			input.form-check-input(id='color' + index type='checkbox' value='color' + index)
			//- 			label.form-check-label(for='color' + index)= color
	.row
		.col-4.mb-4.d-grid.gap-2: button#submit.btn.btn-success.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Add Item
		.col-4.mb-4.d-grid.gap-2: button#submit.btn.btn-warning.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Save Edit
		.col-4.mb-4.d-grid.gap-2: button#submit.btn.btn-danger.btn-sm.mt-3(type="button" onclick='submitAdminInventoryForm()') Delete Item
	
			